@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
  user-select: none;
}

:root {
  --light-blue: #3498eb;
  --orange: #eb5e2a;
  --white: #ffffff;
  --red: #cf3227;
  --green: #27cf70;
}
button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
input {
  padding: 0;
  margin: 0;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.body {
  place-content: center;
  height: 100vh;
}
.container {
  width: 20rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fs-300 {
  opacity: 0.6;
  font-size: 0.725rem;
}

.fs-200 {
  opacity: 0.6;
  font-size: 0.625rem;
}

.ver-c-hor-space-btw {
  justify-content: space-between;
  align-items: center;
  padding: var(--vertical, 0.5rem) var(--horizontal, 2rem);
}

.column {
  flex-direction: column;
  gap: 0.4rem;
}

.blue-clrs {
  color: var(--light-blue);
}

.blue-bg {
  background-color: var(--light-blue);
  opacity: 1;
}

.white-clrs {
  color: var(--white);
}

.orange-bg {
  background: var(--orange);
}

.red-clrs {
  color: var(--red);
}

.green-clrs {
  color: var(--green);
}
